name: etc

on:
  pull_request:
    paths:
      - "etc/**.ts"

jobs:
  test:
    name: Testing TypeScript Solutions
    runs-on: ubuntu-latest
    env:
      DENO_INSTALL: ~/.local
    steps:
      - uses: actions/checkout@v2
      - run: curl -fsSL https://deno.land/x/install/install.sh | sh
      - run: $DENO_INSTALL/bin/deno test --allow-net --allow-env --allow-write etc/*
